<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" style="background-color: #ffe6f7 !important;" id="navbar">
    <div class="container">
      <a class="navbar-brand font-weight-bold" routerLink="/">
        <p><span class="passion">Passionate</span><span class="haus">Haus</span></p>
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Male
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="">Masturbators &amp; Fleshlights</a></li>
              <li><a routerLink="">Penis Rings</a></li>
              <li><a routerLink="">Chastity Devices</a></li>
              <li><a routerLink="">Sex Dolls</a></li>
              <li><a routerLink="">Penis Sleeves &amp; Extensions</a></li>
              <li><a routerLink="">Urethral Sounding</a></li>
              <li><a routerLink="">Prostrate Massagers</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Female
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="">Vibrators</a></li>
              <li><a routerLink="">Dildos</a></li>
              <li><a routerLink="">Sex &amp; Fucking Machines</a></li>
              <li><a routerLink="">Strap-Ons</a></li>
              <li><a routerLink="">Finger Massagers</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Couples
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="">Butt Plugs &amp; Anal Toys</a></li>
              <li><a routerLink="">Bondage &amp; BDSM Toys</a></li>
              <li><a routerLink="">Sex Furniture</a></li>
              <li><a routerLink="">Restraints</a></li>
              <li><a routerLink="">Pain Products</a></li>
              <li><a routerLink="">All-in-one Bondage Kits</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sexual Wellness
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="">Increase Penis Size</a></li>
              <li><a routerLink="">Increase Breast Size</a></li>
              <li><a routerLink="">Delay Sex &amp; Stamina</a></li>
              <li><a routerLink="">Lubricants &amp; Oils</a></li>
              <li><a routerLink="">Condoms (Male &amp; Female)</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Apparel &amp; Jewellery
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="">Male Night Dress</a></li>
              <li><a routerLink="">Female Night Dress</a></li>
              <li><a routerLink="">Roleplay Costumes</a></li>
              <li><a routerLink="">Male Underwear</a></li>
              <li><a routerLink="">Female Lingerie</a></li>
              <li><a routerLink="">Nipple Pasties</a></li>
              <li><a routerLink="">Intimate Jewellery</a></li>
            </ul>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li> -->
          <!-- Pages -->
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/blog">
              Blog
            </a>
          </li><!-- /Pages -->
          <!-- / Blog -->
  
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/shop">
              Shop
            </a>
          </li> -->
          <!-- / Blog -->
  
          <!-- Account -->
          <!-- <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a routerLink="/dashboard">Dashboard</a></li>
              <li><a routerLink="/order">Orders</a></li>
              <li><a routerLink="/address">Address</a></li>
              <li><a routerLink="/profile-details">Profile Details</a></li>
              <li><a routerLink="/login">Login Page</a></li>
              <li><a routerLink="/signup">SignUp Page</a></li>
              <li><a routerLink="/forgot-password">Forgot Password</a></li>
            </ul>
          </li> -->
          <!-- / Account -->
        </ul>
      </div>
      <!-- Navbar-collapse -->
  
      <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <li class="list-inline-item">
          <a href="#" class="search_toggle" id="search-icon"><i class="tf-ion-android-search" style="background-color: #c689c6;"></i></a>
        </li>
  
        <li class="dropdown cart-nav dropdown-slide list-inline-item">
          <a href="#" class="dropdown-toggle cart-icon" data-toggle="dropdown" data-hover="dropdown">
            <i class="tf-ion-android-cart" style="background-color: #c689c6;"></i>
          </a>
          <div class="dropdown-menu cart-dropdown">
            <!-- Cart Item -->
            <div class="media">
              <a routerLink="/product-single">
                <img class="media-object img- mr-3" src="assets/images/cart-1.jpg" alt="image" />
              </a>
              <div class="media-body">
                <h6>Ladies Bag</h6>
                <div class="cart-price">
                  <span>1 x</span>
                  <span>1250.00</span>
                </div>
              </div>
              <a href="#" class="remove"><i class="tf-ion-close"></i></a>
            </div><!-- / Cart Item -->
  
            <!-- Cart Item -->
            <div class="media">
              <a routerLink="/product-single">
                <img class="media-object img-fluid mr-3" src="assets/images/cart-2.jpg" alt="image" />
              </a>
              <div class="media-body">
                <h6>Skinny Jeans</h6>
                <div class="cart-price">
                  <span>1 x</span>
                  <span>1250.00</span>
                </div>
              </div>
              <a href="#" class="remove"><i class="tf-ion-close"></i></a>
            </div><!-- / Cart Item -->
  
            <div class="cart-summary">
              <span class="h6">Total</span>
              <span class="total-price h6">₹1799.00</span>
  
              <div class="text-center cart-buttons mt-3">
                <a href="#" routerLink="/cart" class="btn btn-small btn-transparent btn-block">View Cart</a>
                <a href="#" routerLink="/checkout" class="btn btn-small btn-main btn-block">Checkout</a>
              </div>
            </div>
          </div>
        </li>
        <!-- <li class="list-inline-item"><a href="#"><i class="tf-ion-ios-person mr-3"></i></a></li> -->
        <li class="list-inline-item nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="tf-ion-ios-person mr-3" style="background-color: #c689c6;"></i>
          </a>
          <ul class="dropdown-menu" style="right: -40px; top: 45px;" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/order">Orders</a></li>
            <li><a routerLink="/address">Address</a></li>
            <li><a routerLink="/profile-details">Profile Details</a></li>
            <li><a routerLink="/login">Login?</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>