<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            
    <ul class="list-unstyled info-desc">
      <li class="d-flex">
        <strong>Weight </strong>	
        <span>400 g</span>
      </li>
      <li class="d-flex">
        <strong>Dimensions </strong>
        <span>10 x 10 x 15 cm</span>
      </li>
      <li class="d-flex">
        <strong>Materials</strong>
        <span >60% cotton, 40% polyester</span>
      </li>
      <li class="d-flex">
        <strong>Color </strong>
        <span>Blue, Gray, Green, Red, Yellow</span>
      </li>
      <li class="d-flex">
        <strong>Size</strong>
        <span>L, M, S, XL, XXL</span>
      </li>
    </ul>
    </div>